@media screen and (max-width: 1024px) {
  html, body {
    overflow-x: hidden;
  }
  
  .container {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .header {
    padding: 10px 20px;
  }

  .about-content {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    max-width: 100%;
  }

  .about-text {
    max-width: 100%;
    left: 0;
    text-align: center;
  }

  .contact-section-temporario {
    width: 90%;
    max-width: 600px;
    padding: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
  
  .navbar {
    display: none;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-info h1 {
    font-size: 2rem;
  }

  .social-container {
    flex-direction: column;
    gap: 20px;
  }

  .creator-text {
    display: none;
  }

  .contact-section-temporario {
    width: auto;
    max-width: 500px;
    padding: 15px;
  }

  .popup-button {
    width: 140px; /* Botões ocupam toda a largura do contêiner */
  max-width: 180px; /* Limitar largura máxima */
  height: 50px; /* Altura fixa para todos os botões */
  }

  .about-text {
    display: flex;
    flex-direction: column; /* Mantém o título e o texto em coluna */
    align-items: center; /* Alinha tudo à esquerda */
    text-align: justify;
    flex: 1;
    max-width: 500px;
  }
  .about-text p {
    font-size: 20px;
    color: white;
    line-height: 1.1;
    max-width: 600px;
    text-align: left;
    margin: 0 auto;
    top: 15px;
  }
  .about-text h2 {
    text-align: left;
    display: flex;
    align-items: start;
    width: 100%;
    margin: 0;
    padding-left: 0;
    font-size: 3rem;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  html, body {
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .menu {
    display: block;
  }

  .social-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .social-box {
    width: 180px;
    height: 230px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header {
    flex-direction: column;
    align-items: center;
  }

  .about-text p {
    font-size: 1rem;
  }

  .graficos,
  .estatisticas {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact-section-temporario {
    width: 100%;
    height: 140px;
    padding: 20px;
  }

  .new-contact {
    font-size: 20px;
  }

  .popup-button {
    width: 200px;
    height: 50px;
  }

  .about-text {
    display: flex;
    flex-direction: column; /* Mantém o título e o texto em coluna */
    align-items: center; /* Alinha tudo à esquerda */
    text-align: justify;
    flex: 1;
    max-width: 500px;
  }
  .about-text p {
    font-size: 20px;
    color: white;
    line-height: 1.1;
    max-width: 350px;
    margin: 0 auto;
    top: 15px;
  }
  .about-text h2 {
    text-align: left;
    display: flex;
    align-items: start;
    width: 100%;
    margin: 0;
    padding-left: 0;
    font-size: 3rem;
    gap: 10px;
  }

  #scene {
    width: auto;
    height: auto;
  }

  .carousel-container {
    width: 100%;
    padding: 10px 0;
    overflow: hidden;
  }

  .carousel-container::before,
  .carousel-container::after {
    width: 50px; /* Reduz o efeito fade */
  }

  #icon-twitter {
    width: 70px;
    height: 70px;
    position: relative;
    bottom: 14px;
  }
  #icon-youtube {
    width: 70px;
    height: 70px;
  }
  #icon-instagram {
    width: 70px;
    height: 70px;
  }
  #icon-facebook {
    width: 70px;
    height: 70px;
  }
  #icon-tiktok {
    width: 70px;
    height: 70px;
  }

  .user {
    font-size: 20px;
  }

  .followers {
    font-size: 25px;
  }

  .seguidores {
    font-size: 20px;
  }
}