/******************** Fontes usadas */
@import url('clash-grotesk.css');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --font-grande: 'Poppins', sans-serif;
    --font-pequena: 'ClashGrotesk-Light', sans-serif;
    --color-black: #000;
    --color-gray1: #3d4143;
    --color-gray2: #9c9d9d;
    --color-white: #f6f6f6;
    --color-destaque1: #836FFF;
    --color-destaque2: #728e6f;
    --color-destaque3: rgb(107, 146, 255);
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray1);
    border-radius: 20px;
    border: 3px solid var(--color-black);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray2);
}


html, body {
    background-color: #111111;
    color: #fff;
    width: 100%;
    display: flex;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-content: center;
    font-family: var(--font-pequena);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s ease-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    min-height: 100vh;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
     text-size-adjust: 100%;
     scroll-behavior: smooth;
}
main {
  flex: 1;
  position: relative; /* Permite que elementos absolutos dentro dele usem como referência */
  min-height: 100vh; /* Garante altura mínima da tela */
  overflow: hidden;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 160px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.inicio{
  display: flex;
  flex-direction: column;
}

/*Botões fixos*/
.fixed-button {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

#backToTop {
    bottom: 20px;
    left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#whatsappButton {
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
    animation: pulse 2s infinite;
}

#whatsappButton i {
    font-size: 24px;
    color: #fff;
}

.fixed-button i {
    font-size: 24px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    box-sizing: border-box;
    padding-bottom: 0px;
    align-items: flex-start;
}

.container-box {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);;
    padding: 60px;
    box-sizing: border-box;
    bottom: 10px;
}

/*************** HEADER *****/
.header {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0.2rem 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: top 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    background-color: transparent;

}

/* Logo */
.logo {
    width: 100%;
    margin: 0;
    flex: 0;
    bottom: 10px;
    display: none;
}

.logo img {
    width: 150px;
}

.logo-final {
  width: 100%;
  margin: 0;
  flex: 0;
}

.logo-final img {
  width: 150px;
  margin-top: 35px;
}

/* Menu */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.navbar-links {
  list-style: none;            /* Remove marcadores da lista */
  gap: 20px;                   /* Espaçamento entre os itens */
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

 ul {
  justify-content: center;
  align-items: center;
  display: flex;
  left: 50px;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links li a {
  color: white;                /* Texto branco */
  text-decoration: none;       /* Remove o sublinhado */
  font-size: 16px;             /* Tamanho da fonte */
  font-weight: bold;
  padding: 5px 10px;
}

.navbar-links li a:hover {
  color: black;                /* Cor preta ao passar o mouse */
  border-radius: 4px;          /* Borda arredondada */
  transition: 0.3s;            /* Transição suave */
}

.search-container {
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-container input {
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  background-color: black;
  display: NONE;
  justify-content: end;
}

.search-container input::placeholder {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  position: relative;
}

/* Menu Navegação */
.menu-aberto {
  background-color: var(--color-black);
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.menu-aberto.active {
  height: 100vh;
  opacity: 1;
}

.nav-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transition: opacity 0.5s ease-in-out;
}

.nav-menu a {
  user-select: none;
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-pequena);
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu-aberto.active .nav-menu a {
  opacity: 1;
  transform: translateY(0);
}

.nav-menu a:hover {
  color: var(--color-destaque1);
  transition: all 0.3s ease;
}
  
  

/*************** INICIO *****/
.inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem 0rem;
    z-index: 1;
    user-select: none;
    padding-bottom: 0px;
}


.container-inicio {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-inicio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.titulo-inicio {
    font-size: 60px;
    font-family: var(--font-grande);
    font-weight: bolder;
}

.destaque-inicio {
    font-weight: bolder;
    font-size: 40px;
}

.paragrafo-inicio p {
    font-size: 30px;
    max-width: 900px;
    color: var(--color-gray2);
    font-family: var(--font-pequena);
}

.descricao-inicio p {
    font-size: 25px;
    max-width: 900px;
    color: var(--color-gray2);
    font-family: var(--font-pequena);
}

/* Botão Inicio */
.cta {
    position: relative;
    margin-top: 10px;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;

}

.cta span {
    font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
}

.cta:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 3px;
    display: block;
    border-radius: 50px;
    background: blueviolet;
    width: 33px;
    height: 33px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: var(--font-pequena);
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: var(--color-white);
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #FFFAF0;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: purple;
}

.cta:hover svg {
    transform: translateX(0);
    stroke: #FFE4B5;
}

.cta:active {
    transform: scale(0.95);
}

.complemento-inicio {
    position: absolute;
    bottom: 2rem;
    width: 100vw;
    padding: 0rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complemento-inicio .text {
    width: 200px;
}

.complemento-inicio .qr-code {
    width: 80px;
    opacity: .2;
    transition: all .5s ease-in-out;
}

.qr-code:hover {
    opacity: 1;
}

.imagem-sobre img {
    width: 17%;
    z-index: 99;
}
  
  .box {
    background-color: #292929; /* Fundo das caixas */
    border-radius: 15px;
    padding: 60px;
    width: 251px; /* Tamanho das caixas */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .box:hover {
    transform: translateY(-5px);
    box-shadow: 2px 2px 12px #836FFF;
  }
  
  .profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1rem;
    margin-bottom: 3px;
    color: #8879e4; 
  }
  
  .social-links i {
    font-size: 20px;
    margin: 0 5px;
    color: #fff;
    transition: color 0.3s;
  }
  
  .social-links i:hover {
    color: #8676f5; /* Cor ao passar o mouse */
  }

  .descricao-ag {
    line-height: 20px;
    color: rgb(255, 255, 255);
  }

  .descricao-titulo {
    font-size: 13px;
    color: rgb(172, 169, 169);
  }

  .verified-icon {
    width: 14px;
    height: 14px;
    margin-right: -11px;
  }

  .profile-name {
    font-size: 15px;
    font-weight: bold;
    color: #8676f5; /* Roxo */
    display: flex; /* Flexbox para alinhar ícone com o texto */
    align-items: center; /* Centralizar verticalmente */
    justify-content: center; /* Alinhar no centro horizontalmente */
    gap: 5px; /* Espaço entre o texto e o ícone */
  }

  /*************** ALGUMA FRASE AQUI  *****/

  .container-free-your-mind-itens {
    display: flex;
    margin: 0 auto;
    gap: 100px;
    margin: 0 50px;
    margin-bottom: 90px;
    text-align: center;
}

.container-free-your-mind .container-free-your-mind-title {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 80px;
}

.container-free-your-mind-title {
    font-family: var(--font-grande);
}

.container-free-your-mind-item {
    display: flex;
    flex-direction: column;
}

.container-free-your-mind-item-sem {
    font-size: 3.5rem;
    text-align: center;
}
.container-free-your-mind-item-sem h5  { 
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--font-grande);
}

.container-free-your-mind-item-sem span {
    font-size: 3.5rem;
}

.container-free-your-mind-item h5,
.container-free-your-mind-item span {
    font-size: 3.5rem;
    text-align: center;
    font-family: var(--font-grande);
}

.container-free-your-mind-item h6 {
    font-size: 2.5rem;
    text-align: center;
}

.free-your-mind {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
}

.container-free-your-mind {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-free-your-mind-title strong {
  font-size: 2rem; /* Ajuste conforme necessário */
  line-height: 1.2; /* Espaçamento entre linhas */
  text-align: center; /* Centraliza o texto */
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-overflow: ellipsis; /* Trunca o texto se necessário */
}

.divider {
  width: 3px;
    height: 120px; /* Altura da linha */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
    filter: blur(0.7px); /* Suaviza as bordas */
    margin: 0 -30px;
  }

.container-texto-final {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;
  width: 100vw;
  padding: 30px;
  gap: 70px;
  margin: 0;
}

.agenciados-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.titulo-final {
  font-size: 4.2rem;
  font-weight: bold;
  background: linear-gradient(270deg, 
  #fff 0%,   /* Branco no lado direito */
  #eee 20%,  /* Cinza muito claro */
  #ddd 40%,  /* Cinza claro */
  #bbb 60%,  /* Cinza médio */
  #888 80%,  /* Cinza escuro */
  #353535 100%  /* Cinza mais escuro no lado esquerdo */); /* Branco à direita, cinza à esquerda */
  -webkit-background-clip: text; /* Permite o gradiente afetar o texto */
  -webkit-text-fill-color: transparent; /* Deixa o texto transparente */
}

.subtitulo-final {
  font-size: 2rem;
  color: white;
}

.texto-agenciados-1 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  flex: 1;
  text-align: left;
  padding-left: 300px;
}
.texto-agenciados-2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  flex: 1; 
  margin-left: 600px; 
  color: white; 
  text-align: right;
  padding-right: 300px;
}
.texto-agenciados-3 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  flex: 1;
  margin-right: 600px;
  text-align: left;
  padding-left: 300px;
}

.texto-agenciados-4 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  flex: 1; 
  margin-left: 600px; 
  color: white; 
  text-align: right;
  padding-right: 300px;
}

.botao-seja-agenciado {
  display: flex;
  background-color: #6b05f1;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: end;
  margin-top: 10px;
}

.final {
  background-image: url(../img2/imgestilo4.png);
  width: 100%; /* Faz a seção ocupar toda a largura disponível */
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.destaque-ag {
  font-size: 2rem;
  color: #836FFF;
}

.volta-inicio {
  color: white;
  border: 2px solid gray;
  border-radius: 15px;
  padding: 4px 17px;
  background-color: #6b05f1;
  display: inline-block;
  margin-top: 45px;
}

.container-botao {
  display: block;
}

.right-sobre {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  
}

.complemento-agenciados {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Fundo transparente */
  overflow: visible; /* Evita cortes durante a rotação */
  z-index: 0;
  width: auto;
}

.complemento-agenciados img {
  position: relative;
  
  top: 6px;
  width: 30%;
  z-index: 1000;
  animation: rotate 20s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-imagem-agenciados {
  width: 200px; /* Ajuste o tamanho conforme necessário */
  height: auto;
  animation: rotate 5s linear infinite; /* Gira continuamente em 5 segundos */
  display: block; /* Remove possíveis espaçamentos extras */
  background: transparent; /* Garante que não tenha fundo */
  border: none; /* Remove borda residual */
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  
}

.filter-plataforma {
  border: 2px solid #690099;
  border-radius: 20px;
  padding: 8px 15px;
  background: transparent;
  color: #fff;
  background-color: #111111;
  cursor: pointer;
  font-size: 14px;
}
.filter-category {
  border: 2px solid #690099;
  border-radius: 20px;
  padding: 8px 15px;
  background: transparent;
  color: #fcfcfc;
  background-color: #111111;
  cursor: pointer;
  font-size: 14px;
}
.filter-followers {
  border: 2px solid #690099;
  border-radius: 20px;
  padding: 8px 15px;
  background: transparent;
  color: #ffffff;
  background-color: #111111;
  cursor: pointer;
  font-size: 14px;
}
.filter-engajament {
  border: 2px solid #690099;
  border-radius: 20px;
  padding: 8px 15px;
  background: transparent;
  color: #ffffff;
  background-color: #111111;
  cursor: pointer;
  font-size: 14px;
}

.filter-search {
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 2px solid #ffffff; /* Linha visível */
  
  width: 200px; /* Largura ajustável */
  padding-left: 3px;
  transition: all 0.3s ease-out;
}
.filter-search input {
  border: none;
  background: transparent;
  color: #fff;
  padding: 5px 5px 5px 25px; /* Espaço para a lupa */
  outline: none;
  font-size: 14px;
  width: 150px;
}
.filter-search input::placeholder {
  color: #fff;
  opacity: 0.7;
}
.filtros {
  color: #fff;
  
}

.search-icon {
  margin-right: 5px;
}


.filter-plataforma:hover,
.filter-category:hover,
.filter-followers:hover,
.filter-engajament:hover {
  color: #ffffff;
  border-color: #ffffff;
  transform: scale(1.05); /* Aumenta levemente o botão ao passar o mouse */
  box-shadow: 0 0 10px #836FFF;
}


.filter-plataforma:focus,
.filter-category:focus,
.filter-followers:focus,
.filter-engajament:focus {
  outline: none; /* Remove o contorno padrão */
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7); /* Sombra suave para destaque */
  border-color: #fcfcfc; /* Muda a cor da borda quando focado */
}

.navbar {
  position: fixed; /* Fixa no topo */
  top: 40px; /* Distância do topo */
  left: 50%; /* Alinha horizontalmente */
  transform: translateX(-50%); /* Centraliza no meio da tela */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px; /* Reduz o padding para tamanho menor */
  background-color: #000;
  border-radius: 50px;
  width: 785px; /* Tamanho fixo menor */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); /* Sombra suave */
  z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}

.logo {
  font-size: 1.2rem; /* Tamanho menor do texto */
  font-weight: bold;
}

.highlight {
  color: #836FFF; /* Laranja */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem; /* Reduz o tamanho dos links */
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #836FFF;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-link.active {
  color: #836FFF; /* Cor da aba ativa */
  font-weight: bold;
}

.cta-button a {
  background-color: #333;
  padding: 6px 15px; /* Botão menor */
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.cta-button a:hover {
  border: 1px solid #836FFF;
  box-shadow: 0 0 10px #836FFF;
}

/* Conteúdo para testar */
.content {
  margin-top: 100px; /* Dá espaço abaixo da barra */
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.logo-pc {
  width: 12%;
}

.logo-pc img {
  width: 90px;
  display: flex;
}

.glow-outline {
  background-color: #1f1f1f;
  color: #fff;
  border: 2px solid transparent; /* Removendo a borda interna */
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.glow-outline::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 10px;
  border: 2px solid rgba(255, 149, 0, 0.8); /* Borda giratória fora do botão */
  animation: rotateGlow 2s linear infinite;
}

.number {
  position: relative;
    bottom: 55px;
    left: 156px;
    background: transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    display: none;
    width: 30px;
    height: 30px;
}

.switch {
  position: relative;
  display: none;
  width: 50px;
  height: 25px;
  cursor: pointer;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 25px;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6a5acd;
}

input:checked + .slider::before {
  transform: translateX(25px);
}

.ellipsis {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  display: inline-block;
  margin-bottom: 10px;
}

/* .button-planilha {
  width: 145px;
  height: 25px;
} */

/* From Uiverse.io by satyamchaudharydev */ 
.button {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: transparent;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #836FFF;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  top: 20px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
  border-color: #fff;
}

.button:hover .icon {
  transform: translate(4px);
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    #836FFF,
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

/* From Uiverse.io by MuhammadHasann */ 
.Button {
  --black-700: hsla(0 0% 14% / 1);
  --border_radius: 9999px;
  --transtion: 0.3s ease-in-out;
  --offset: 2px;

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  transform-origin: center;

  padding: 2px 8px;
  background-color: transparent;

  border: none;
  border-radius: var(--border_radius);
  transform: scale(calc(1 + (var(--active, 0) * 0.1)));

  transition: transform var(--transtion);
}

.Button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: var(--black-700);

  border-radius: var(--border_radius);
  transition: all var(--transtion);
  z-index: 0;
}

.Button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-color: hsla(260 97% 61% / 0.75);
  background-image: radial-gradient(
      at 51% 89%,
      hsla(266, 45%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 100%, hsla(266, 36%, 60%, 1) 0px, transparent 50%),
    radial-gradient(at 22% 91%, hsla(266, 36%, 60%, 1) 0px, transparent 50%);
  background-position: top;

  opacity: var(--active, 0);
  border-radius: var(--border_radius);
  transition: opacity var(--transtion);
  z-index: 2;
}

.Button:is(:hover, :focus-visible) {
  --active: 1;
}
.Button:active {
  transform: scale(1);
}

.Button .dots_border {
  --size_border: calc(100% + 5px);

  overflow: hidden;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: var(--size_border);
  height: var(--size_border);
  background-color: transparent;

  border-radius: var(--border_radius);
  z-index: -10;
}

.Button .dots_border::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  transform: rotate(0deg);

  width: 100%;
  height: 2rem;
  background-color: #836FFF;

  mask: linear-gradient(transparent 0%, white 120%);
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.Button .sparkle {
  position: relative;
  z-index: 10;

  width: 1.75rem;
}

.Button .sparkle .path {
  fill: currentColor;
  stroke: currentColor;

  transform-origin: center;

  color: hsl(0, 0%, 100%);
}

.Button:is(:hover, :focus) .sparkle .path {
  animation: path 1.5s linear 0.5s infinite;
}

.Button .sparkle .path:nth-child(1) {
  --scale_path_1: 1.2;
}
.Button .sparkle .path:nth-child(2) {
  --scale_path_2: 1.2;
}
.Button .sparkle .path:nth-child(3) {
  --scale_path_3: 1.2;
}

@keyframes path {
  0%,
  34%,
  71%,
  100% {
    transform: scale(1);
  }
  17% {
    transform: scale(var(--scale_path_1, 1));
  }
  49% {
    transform: scale(var(--scale_path_2, 1));
  }
  83% {
    transform: scale(var(--scale_path_3, 1));
  }
}

.Button .text_button {
  position: relative;
  z-index: 10;

  background-image: linear-gradient(
    90deg,
    hsla(0 0% 100% / 1) 0%,
    hsla(0 0% 100% / var(--active, 0)) 120%
  );
  background-clip: text;

  font-size: 1rem;
  color: transparent;
}

/* .share-btn {
  background: white;
  color: black;
  padding: 10px 15px;
  border-radius: 20px;
  margin-top: 20px;
  text-decoration: none;
  display: none;
  cursor: pointer;
  justify-content: end;
  width: 155px;
  height: 42px;
  align-items: center;
  position: fixed;
  bottom: 22px;
  right: 85px;
  z-index: 2;
  gap: 7px;
} */

/* #planilhaButton {
  bottom: 22px;
  right: 90px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #6a5acd;
  animation: pulsee 2s infinite;
} */

@keyframes pulsee {
  0% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(106, 90, 205, 0.5);
  }

  50% {
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(106, 90, 205, 0.9);
  }

  100% {
      transform: scale(1);
      box-shadow: 0 0 10px rgba(106, 90, 205, 0.5);
  }
}

#botao-download {
  width: 15px;
  height: 15px;
  background: transparent;
  margin-right: 5px;
  vertical-align: middle;
}









 

  
  
  









