/******************** Fontes usadas */
@import url('https://fonts.cdnfonts.com/css/tt-hoves-pro-trial');
@import url('clash-grotesk.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-grande: 'TT Hoves Pro Trial', sans-serif;
    --font-pequena: 'ClashGrotesk-Light', sans-serif;
    --color-black: #000;
    --color-gray1: #3d4143;
    --color-gray2: #9c9d9d;
    --color-white: #f6f6f6;
    --color-destaque1: #836FFF;
    --color-destaque2: #728e6f;
    --color-destaque3: rgb(107, 146, 255);
}

/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray1);
    border-radius: 20px;
    border: 3px solid var(--color-black);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-gray2);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    background-size: cover;
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-pequena);
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s ease-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}
main {
  flex: 1;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.inicio{
  display: flex;
  flex-direction: column;
}

/*Botões fixos*/
.fixed-button {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-white);
    color: var(--color-black);
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

#backToTop {
    bottom: 20px;
    left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#whatsappButton {
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5);
    animation: pulse 2s infinite;
}

#whatsappButton i {
    font-size: 24px;
    color: #fff;
}

.fixed-button i {
    font-size: 24px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.7);
    }

    100% {
        transform: scale(1);
        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }
}

.container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    box-sizing: border-box;
    bottom: 10px;
}

.container-box {
  width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);;
    padding: 60px;
    box-sizing: border-box;
    bottom: 10px;
}

/*************** HEADER *****/
.header {
    user-select: none;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0.2rem 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: top 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    background-color: transparent;

}

/* Logo */
.logo {
    width: 100%;
    margin: 0;
    flex: 0;
    bottom: 10px;
    display: none;
}

.logo img {
    width: 150px;
}

.logo-final {
  width: 100%;
  margin: 0;
  flex: 0;
}

.logo-final img {
  width: 150px;
  margin-top: 35px;
}

/* Menu */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.hamburger {
  cursor: pointer;
  display: none;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  height: 3em;
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.navbar-links {
  list-style: none;            /* Remove marcadores da lista */
  gap: 20px;                   /* Espaçamento entre os itens */
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

 ul {
  justify-content: center;
  align-items: center;
  display: flex;
  left: 50px;
}

.navbar-links li {
  display: inline-block;
}

.navbar-links li a {
  color: white;                /* Texto branco */
  text-decoration: none;       /* Remove o sublinhado */
  font-size: 16px;             /* Tamanho da fonte */
  font-weight: bold;
  padding: 5px 10px;
}

.navbar-links li a:hover {
  color: black;                /* Cor preta ao passar o mouse */
  border-radius: 4px;          /* Borda arredondada */
  transition: 0.3s;            /* Transição suave */
}

.search-container {
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.search-container input {
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  background-color: black;
  display: none;
  justify-content: end;
}

.search-container input::placeholder {
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  position: relative;
}

/* Menu Navegação */
.menu-aberto {
  background-color: var(--color-black);
  position: fixed;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  z-index: 98;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.menu-aberto.active {
  height: 100vh;
  opacity: 1;
}

.nav-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  transition: opacity 0.5s ease-in-out;
}

.nav-menu a {
  user-select: none;
  text-decoration: none;
  color: var(--color-white);
  font-family: var(--font-pequena);
  font-size: 3rem;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.menu-aberto.active .nav-menu a {
  opacity: 1;
  transform: translateY(0);
}

.nav-menu a:hover {
  color: var(--color-destaque1);
  transition: all 0.3s ease;
}
  
  

/*************** INICIO *****/
.inicio {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 0rem;
    z-index: 1;
    user-select: none;
    padding-bottom: 0px;
}

.container-inicio {
    width: 100%;
    height: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-produtora {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

.titulo-produtora {
  font-size: 4.5rem;
  font-weight: bold;
  color: var(--color-white);
  margin-top: 35vh; /* Espaçamento relativo à altura da viewport */
  text-align: center; /* Centraliza o texto horizontalmente */
}

.subtitulo-produtora {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--color-white);
}
.estilo-sobre {
  font-size: 1.9rem;
  color: var(--color-destaque1);
}
.objetivo {
  padding: 0px 10% 0 10%; 
  text-align: center; 
  font-family: Arial, Helvetica, sans-serif;
}

.container-final {
  font-size: 2.6rem; 
  font-weight: bold; 
  color: var(--color-white); 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); 
  position: relative; 
  top: 320px;
}
.titulo-produtora-1 {
  font-size: 2.4rem; 
  font-weight: bold; 
  color: var(--color-white); 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); 
  position: relative; 
   
}

.texto-produtora-1 {
  font-size: 1.8rem; 
  color: var(--color-white); 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); 
  position: relative; 
  top: 35px;
  text-align: center;
  padding: 0 10% 20px;
}
.titulo-sobre {
  position: relative;
  
}

.destaque-sobre {
  color: var(--color-destaque1);
}

.titulo-produtora-2 {
  font-size: 2.4rem; 
  font-weight: bold; 
  color: var(--color-white); 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); 
  position: relative; 
  top: 10px; 
  text-align: center;
  
}

.texto-produtora-2 {
  font-size: 1.8rem; 
  color: var(--color-white); 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); 
  position: relative; 
  top: 135px;
  text-align: center;
  padding: 0 10% 20px;
}


.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo-produtora {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 50px;
}

.logo-produtora img {
  width: 150px;
}

.navbar {
  position: fixed; /* Fixa no topo */
  top: 40px; /* Distância do topo */
  left: 50%; /* Alinha horizontalmente */
  transform: translateX(-50%); /* Centraliza no meio da tela */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px; /* Reduz o padding para tamanho menor */
  background-color: #000;
  border-radius: 50px;
  width: 785px; /* Tamanho fixo menor */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1); /* Sombra suave */
  z-index: 1000; /* Garante que a barra fique acima de outros elementos */
}

.logo {
  font-size: 1.2rem; /* Tamanho menor do texto */
  font-weight: bold;
}

.highlight {
  color: #836FFF; /* Laranja */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem; /* Reduz o tamanho dos links */
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #836FFF;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.nav-link.active {
  color: #836FFF; /* Cor da aba ativa */
  font-weight: bold;
}

.cta-button a {
  background-color: #333;
  padding: 6px 15px; /* Botão menor */
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.cta-button a:hover {
  border: 1px solid #836FFF;
  box-shadow: 0 0 10px #836FFF;
}

/* Conteúdo para testar */
.content {
  margin-top: 100px; /* Dá espaço abaixo da barra */
  padding: 20px;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
}

.logo-pc {
  width: 12%;
}

.logo-pc img {
  width: 90px;
  display: flex;
}

.glow-outline {
  background-color: #1f1f1f;
  color: #fff;
  border: 2px solid transparent; /* Removendo a borda interna */
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.glow-outline::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border-radius: 10px;
  border: 2px solid rgba(255, 149, 0, 0.8); /* Borda giratória fora do botão */
  animation: rotateGlow 2s linear infinite;
}
.conteudo-unificado {
  margin-top: 100px; /* Espaçamento geral */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 60px; /* Espaçamento entre blocos internos */
}

/* Seção Destaque */
.highlight-section {
  margin-top: 500px; /* Aumente o valor para descer mais */
  text-align: center;
  padding: 50px 20px;
  background-color: transparent; /* Opcional: cor de fundo */
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  background: linear-gradient(
    90deg,     /* Gradiente da esquerda para a direita */
    #fff 0%,   /* Branco no lado esquerdo */
    #eee 20%,  /* Cinza muito claro */
    #ddd 40%,  /* Cinza claro */
    #bbb 60%,  /* Cinza médio */
    #888 80%,  /* Cinza escuro */
    #444 100%  /* Cinza mais escuro no lado direito */
  );
  -webkit-background-clip: text; /* Gradiente afeta apenas o texto */
  -webkit-text-fill-color: transparent; /* Texto transparente */
  
}

.features {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.feature-item {
  flex: 1 1 300px;
  max-width: 350px;
  text-align: center;
  padding: 20px;
}

.feature-item h3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.feature-item p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

.image-section {
  margin-top: 50px;
}

.image-section img {
  max-width: 90%;
  height: auto;
}
.image-section-celular {
  display: none;
}

.icon-circle {
  width: 40px;
  height: 40px;
  background-color: #fff; /* Cor branca */
  border-radius: 50%; /* Torna o fundo um círculo */
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin: 0 auto; /* Centraliza a bolinha */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}

/* Estilo dos ícones */
.icon-circle i {
  font-size: 1.4rem; /* Tamanho do ícone */
  color: #000000; /* Cor roxa para os ícones */
}

/* Estilização da seção principal */
.services {
  display: flex;
  justify-content: center;
  gap: 30px; /* Espaçamento entre os cards */
  padding: 50px 20px; /* Espaçamento interno */
  margin: 80px 0; /* Espaçamento superior e inferior */
  background-color: transparent; /* Cor de fundo */
  position: relative;
  
}

/* Estilização de cada bloco de serviço */
.service {
  background-color: #1a1a1a;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  width: 320px;
  height: 400px;
  transition: transform 0.3s ease;
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 2px 2px 14px #836FFF;
}

/* Ícones */
.icon-sobre img { 
  padding: 15px;
  border-radius: 15%;
  width: 280px;
  height: 190px;
  margin-bottom: 5px;
}

/* Títulos */
.service h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

/* Parágrafos */
.service p {
  font-size: 0.9rem;
  line-height: 1.5;
  color: #bbb;
}

/* Contato */
.contact-section {
  width: 100%;
  max-width: 700px;
  background: linear-gradient(to bottom right, #292828, #080808);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-section h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #f7f5f5;
}

.contact-section p {
  font-size: 1rem;
  color: #f7f5f5;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: transparent;
  transition: border-color 0.3s;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #fafafa;
}

.form-group input,
.form-group textarea {
  color: #fff; 
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #836FFF;
  outline: none;
}

.form-group textarea {
  resize: none;
  height: 120px;
}

.submit-btn {
  background-color: #836FFF;
  color: #fff;
  padding: 15px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #836FFF;
}

.footer-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-links a {
  color: #fefeff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #836FFF;
}

.contact-section-temporario {
  width: 800px;
  max-width: 1000px;
  background: linear-gradient(to right, #1a1919, #202020);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: start;
  margin-bottom: 30px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

.new-contact {
  font-size: 1.8rem;
  font-weight: 600;
  color: #f7f5f5;
  display: flex;
  justify-content: space-between;
}

.button-sobre {
  width: 200px;
  height: 60px;
  max-width: 310px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 30px;
}

.button-sobre p {
  color: #fff;
  font-size: 1.2rem;
}

.popup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 10px;
  color: black;
  border: none;
  padding: 10px;
  margin: 5px 0;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  width: 200px; /* Botões ocupam toda a largura do contêiner */
  max-width: 220px; /* Limitar largura máxima */
  height: 50px; /* Altura fixa para todos os botões */
  transition: background-color 0.3s;
  text-align: right;
}

.popup-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 210px;
}

.popup-button:hover {
  background-color: #dad7d7;
}

.seta-inicio {
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  bottom: 100px; /* Ajuste conforme necessário */
  transition: opacity 0.5s ease;
}

.seta-inicio img {
    filter: contrast(0);
    width: 100px;
    cursor: pointer;
}


@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .logo {
    display: block;
  }
  .titulo-produtora {
    font-size: 2.4rem;
    position: relative;
    bottom: 50px;
  }
  .subtitulo-produtora {
    font-size: 1.1rem;
    position: relative;
    bottom: 50px;
  }
  .titulo-produtora-1 {
    font-size: 2.3rem;
  }
  .texto-produtora-1 {
    font-size: 1.4rem;
    text-align: center;
  }
  .titulo-produtora-2 {
    font-size: 2.5rem;
  }
  .texto-produtora-2 {
    font-size: 1.2rem;
  }
  .titulo-sobre {
    font-size: 2.5rem;
  }
  .hamburger {
    display: block;
  }
  body {
    background-image: url(../videos/fundoembrevecel.mp4);
    background-size: cover;
  }
  .logo img {
    width: 110px;
  }
  .logo {
    width: 0;
  }
  .nav-menu a {
    font-size: 30px;
  }
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-section {
    display: none;
  }
  .image-section-celular {
    display: block;
  }
  
  .image-section-celular img {
    max-width: 105%;
    height: auto;
  }
  .icon-sobre img {
    padding: 15px;
    border-radius: 15%;
    width: 270px;
    height: 190px;
    margin-bottom: 5px;
  }
  .service {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 305px;
    height: 400px;
    transition: transform 0.3s ease;
  }

  .contact-section-temporario {
    width: auto;
    height: auto;
    background: linear-gradient(to bottom, #292828, #000000);
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: start;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .new-contact {
    font-size: 1.1rem;
    font-weight: 600;
    color: #f7f5f5;
    display: flex;
    justify-content: space-between;
  }

  .popup-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    gap: 10px;
    color: black;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    width: 150px; /* Botões ocupam toda a largura do contêiner */
    max-width: 220px; /* Limitar largura máxima */
    height: 50px; /* Altura fixa para todos os botões */
    transition: background-color 0.3s;
    text-align: right;
  }
}








 

  
  
  









